@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/Syle.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Sleep Sistem</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
    <a asp-page="Login_" class="btn btn_primary">Empezar </a>
</div>
