@page
@model Controllers.LoginController

@{

	ViewData["Title"] = "Login";

}


<div class="text-center">
    <h1 class="display-4">Sleep Sistem</h1>

  
    
</div>

<div>
    <form>
        <label>Nombres</label>
        <input />
        <label>Apellidos</label>
        <input />
        <label>Edad</label>
        <input />
        <label>Genero</label>
        <select>
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Prefiero no decirlo</option>
        </select>
        <label>Ocupación</label>
        <input />

    </form>

</div>