.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn_primary {
    color: #fff;
    background-color: #8A2BE2;
    border-color: #0d6efd;
}


/* Efecto de tarjeta personalizada */
.card-custom {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.15);
}

/* Estilos para la hero section */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/images/hero-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-warning:hover {
    background-color: #7a56a2;
    border-color: #ffc107;
    transform: scale(1.05);
    transition: transform 0.2s;
}

/* Overlay oscuro para mejorar la legibilidad */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad y color según prefieras */
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* Opcional: Animación de entrada para el texto */
    .hero-overlay .text-center {
        animation: fadeInDown 1s ease-out;
    }

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    transition: background-color 0.3s ease;
}

    .navbar .btn-info:hover {
        background-color: #138496;
        border-color: #138496;
    }